@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-TajawalSans-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-6: var(--chart-6);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: rgb(239, 244, 245);
  --foreground: oklch(0.145 0 0);
  --card: hsla(189, 51%, 85%, 1);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: hsla(191, 100%, 44%, 1);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: hsla(191, 71%, 69%, 1);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: hsl(191, 100%, 30%);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: hsla(172, 33%, 47%, 0.2);
  --chart-2: hsla(45, 97%, 50%, 0.1);
  --chart-3: hsla(264, 33%, 47%, 0.2);
  --chart-4: hsla(192, 97%, 50%, 0.1);
  --chart-5: hsla(356, 44%, 60%, 0.1);
  --chart-6: hsla(111, 33%, 47%, 0.2);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

/* .dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: hsla(172, 33%, 47%, 0.2);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: hsla(172, 33%, 47%, 1);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: hsla(172, 33%, 47%, 0.5);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: hsla(172, 33%, 47%, 0.2);
  --chart-2: hsla(45, 97%, 50%, 0.1);
  --chart-3: hsla(264, 33%, 47%, 0.2);
  --chart-4: hsla(192, 97%, 50%, 0.1);
  --chart-5: hsla(356, 44%, 60%, 0.1);
  --chart-6: hsla(111, 33%, 47%, 0.2);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
} */

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  .Container {
    @apply max-w-[1400px] mx-auto px-3 sm:px-4 lg:px-6 xl:px-8;
  }

  .Nav_Link {
    @apply text-white text-xl font-bold duration-300 ease-in-out hover:text-muted;
  }

  .Title_Section {
    @apply text-lg sm:text-xl lg:text-2xl xl:text-3xl font-bold whitespace-nowrap;
  }

  .Title_Menu_Footer {
    @apply text-2xl font-bold mb-6 text-muted;
  }

  .Link_Footer {
    @apply text-xl text-gray-500 hover:text-muted transition-colors duration-200 flex items-center gap-2;
  }

  .Gradient_Card_Teal {
    @apply bg-gradient-to-br from-sky-50 to-sky-50 dark:from-teal-900/20 dark:to-teal-900/10 !border-2 !border-sky-200 
    dark:border-teal-800 shadow-lg hover:shadow-xl transition-all duration-300 relative overflow-hidden rounded-2xl cursor-pointer;
  }

  .Gradient_Card_Sky {
    @apply bg-gradient-to-l from-primary/5 to-primary/10 border border-primary shadow-sm rounded-lg;
  }

  .Gradient_Card_Yellow {
    @apply relative overflow-hidden rounded-2xl cursor-pointer bg-gradient-to-br from-amber-50 to-amber-50 dark:from-amber-900/20
     dark:to-amber-900/10 !border-2 !border-amber-200 dark:border-amber-800 shadow-lg hover:shadow-xl transition-all duration-300;
  }
}

/* ================= Scroll Up ==================== */
.scrollup {
  width: 25px;
  height: 25px;
  position: fixed;
  right: 1rem;
  bottom: -20%;
  border: 1px solid hsla(191, 83%, 47%, 1) !important;
  border-radius: 15px;
  transition: 0.4s;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

@media screen and (min-width: 567px) {
  .scrollup {
    width: 35px;
    height: 35px;
    right: 3rem;
    bottom: -20%;
  }
}

/* Show scroll */
.show-scroll {
  bottom: 5rem;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: hsla(191, 73%, 47%, 0.5);
  border-radius: 15rem;
  -webkit-border-radius: 15rem;
  -moz-border-radius: 15rem;
  -ms-border-radius: 15rem;
  -o-border-radius: 15rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsla(191, 83%, 47%, 1);
}

/* custom utility class */
.input-no-spinner::-webkit-outer-spin-button,
.input-no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-no-spinner[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
